.flows {
	border-right: 1px solid rgba(1, 1, 1, 0.1);
	height: 50vh;
	width: 350px;
	display: flex;
	flex-direction: column;

	.header {
		padding: 15px;
		border-bottom: 1px solid rgba(1, 1, 1, 0.1);
	}

	.list {
		display: flex;
		flex-direction: column;
		padding: 10px;
		gap: 10px;
		.flow {
			padding: 15px;
			background: rgba(1, 1, 1, 0.1);
			border-radius: 5px;
			.row {
				display: flex;
				gap: 10px;
				.key {
					font-weight: 300;
				}
				.value {
					opacity: 0.7;
				}
			}
		}
	}
}
