.button {
	position: fixed;
	bottom: 15px;
	right: 15px;
	padding: 15px;
	background: #ff385c;
	display: flex;
	align-items: center;
	border-radius: 50%;
	transition: 0.1s;
	cursor: pointer;

	svg {
		stroke: white;
	}

	&:hover {
		scale: 1.1;
	}
}
