.header {
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;
	align-items: center;
	border-bottom: 1px solid rgba(1, 1, 1, 0.1);
	.profile {
		display: flex;
		align-items: center;

		.status {
			margin-right: 7px;
			display: block;
			width: 9px;
			height: 9px;
			background: rgb(4, 175, 4);
			border-radius: 50%;
		}
	}

	.loader {
		height: 100%;
		display: flex;
		align-items: center;

		& > span {
			margin-left: 5px;
			& > span {
				width: 3.5px;
				height: 3.5px;
				background: black;
			}
		}
	}
	.exit {
		cursor: pointer;
		padding: 5px;
		display: flex;
		border-radius: 50%;
		align-items: center;
		background: none;
		border: none;
		margin-right: -5px;
		&:hover {
			background: rgba(1, 1, 1, 0.05);
		}
		svg {
			width: 15px;
			height: 15px;
		}
	}
}
